html {
    font-size: 12px;
}

body {
    background: #388087;
    font-family: "Helvetica, Verdana, Serif";
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    color: white;
}

p {
    margin: 0 0 3rem;
    color: black;
}

.words {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    padding: 1rem 2rem 1rem 5rem;
    background: -webkit-gradient(
                    linear,
                    0 0, 0 100%,
                    from(#d9eaf3),
                    color-stop(4%, #fff)
                )
                0 4px;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
    text-align: left;
}

.words:before {
    content: "";
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #fa0000;
}